<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cn.mapper.TblAdminMapper">
	<select id="selectByNameFun" parameterType="String" resultType="com.cn.entity.TblAdmin">
		select * from admininfo where aname=#{aname}
	</select>
	
	<insert id="insertFun" parameterType="com.cn.entity.TblAdmin">
		insert into tbl_users values(#{name},#{password},#{telephone},#{username},#{isadmin})
	</insert>
</mapper>