<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.mapper.TblGoodsInfoMapper">


	<select id="selectByConditionPageFun" parameterType="com.cn.entity.TblGoodsQuery"
  resultType="tblGoodsInfo">
		select top ${pageSize} g.*,ts.tsname,i.gimagepath 
		from goodsinfo g,typesecondinfo ts,gimages i 
		where g.tsid=ts.tsid and g.gimageid=i.gimageid and g.gid not in 
		(select top ${startNum} gid from goodsinfo order by gid asc)order by g.gid asc;

	</select>
	
	<select id="selectCountByConditionFun" parameterType="com.cn.entity.TblGoodsQuery"
		resultType="int">
		select count(*) from goodsinfo;
		
	</select>
	
	
	
	
  <delete id="deleteByIdFun" parameterType="java.lang.Integer">
    delete from goodsinfo
    where gid = #{gid}
  </delete>
  <insert id="insert" parameterType="com.cn.entity.TblGoodsInfo">
    insert into goodsinfo (gid, gname, gprice, 
      greprice, gimage, gintroduction, 
      ghot, tsid)
    values (#{gid}, #{gname}, #{gprice}, 
      #{greprice}, #{gimage}, #{gintroduction}, 
      #{ghot}, #{tsid})
  </insert>
  <update id="updateByIdFun" parameterType="com.cn.entity.TblGoodsInfo">
    update goodsinfo
    set gname = #{gname},
      gprice = #{gprice},
      greprice = #{greprice},
      gimage = #{gimage},
      gintroduction = #{gintroduction},
      ghot = #{ghot},
      tsid = #{tsid}
    where gid = #{gid}
  </update>
  <select id="selectByIdFun" parameterType="Integer">
    select gid, gname, gprice, greprice, gimage, gintroduction, ghot, tsid
    from goodsinfo
    where gid = #{gid,jdbcType=INTEGER}
  </select>
  <select id="selectAllFun" parameterType="com.cn.entity.TblGoodsInfo">
    select * from goodsinfo
  </select>
</mapper>