<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.mapper.TblTypeMapper">
  
  <delete id="deleteByIdFun" parameterType="Integer">
    delete from typeinfo
    where tid = #{tid}
  </delete>
  <insert id="insertFun" parameterType="com.cn.entity.TblType">
    insert into typeinfo (tid, tname)
    values (#{tid}, #{tname})
  </insert>
  <update id="updateByIdFun" parameterType="com.cn.entity.TblType">
    update typeinfo
    set tname = #{tname}
    where tid = #{tid}
  </update>
  <select id="selectByIdFun" parameterType="Integer">
    select tid, tname
    from typeinfo
    where tid = #{tid}
  </select>
  <select id="selectAllFun" parameterType="com.cn.entity.TblType" >
    select * from typeinfo
  </select>
  
  
  
  <select id="selectByConditionPageFun" parameterType="tblTypeQuery">
		select top ${pageSize} * from admininfo
		where aid not in (select top ${startNum} aid from admininfo order by aid asc )order by aid;

	</select>
	
	<select id="selectCountByConditionFun" parameterType="int">
		select count(*) from admininfo;
		
	</select>
  
</mapper>