<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cn.mapper.TblAdminMapper">
  
  <insert id="insertFun" parameterType="com.cn.entity.TblAdmin">
    insert into admininfo (aname, apwd, adname, aphone)
    values (#{aname}, #{apwd}, #{adname}, #{aphone})
  </insert>
  
  <select id="selectByIdFun" parameterType="Integer">
    select aid, aname, apwd, adname, aphone
    from admininfo
    where aid = #{aid}
  </select>
  <select id="selectByNameFun" parameterType="String" resultType="com.cn.entity.TblAdmin">
    select * from admininfo where aname = #{aname}
  </select>
  <select id="selectAllFun" parameterType="com.cn.entity.TblAdmin">
    select aid, aname, apwd, adname, aphone
    from admininfo
  </select>
  <delete id="deleteByIdFun" parameterType="Integer">
    delete from admininfo
    where aid = #{aid}
  </delete>
  
  <update id="update" parameterType="com.cn.entity.TblAdmin">
    update admininfo
    set aname = #{aname},
      apwd = #{apwd},
      adname = #{adname},
      aphone = #{aphone}
    where aid = #{aid}
  </update>
  
  
  <select id="selectByConditionPageFun" parameterType="com.cn.entity.TblAdminQuery"
  resultType="tblAdmin">
		select top ${pageSize} * from admininfo
		where aid not in (select top ${startNum} aid from admininfo order by aid asc )order by aid;

	</select>
	
	<select id="selectCountByConditionFun" parameterType="com.cn.entity.TblAdminQuery"
		resultType="int">
		select count(*) from admininfo;
		
	</select>
</mapper>